<!-- navigation div -->
	<div class="row hidden-xs" id="nav-region">
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="">
					<ul>
						<li>
							<a href="#" id="destinations-id">DESTINATIONS</a>
							<!--<span class="glyphicon glyphicon-triangle-top triangle1"></span>
							 <div class="destinations-div" id="destinations-id-show">
								<div class="destinations-div-main">
									<div class="col-md-12">
									<div class="col-md-3 section1">
										<h5>Indian</h5>
										<ul>
											<li><a href="#">Corbett</a></li>
											<li><a href="#">Goa</a></li>
											<li><a href="#">Andaman-Nicobar</a></li>
											<li><a href="#">Kerala</a></li>
											<li><a href="#">Leh-Ladakh</a></li>
											<li><a href="#">Srinagar</a></li>
											<li><a href="#">Mussoorie</a></li>
											<li><a href="#">Manali</a></li>
											<li><a href="#">Jaipur</a></li>
											<li><a href="#">Kathmandu</a></li>
										</ul>
										<a href="#" class="viewall-div">View All</a>
									</div>
									<div class="col-md-3 section2">
										<h5>International</h5>
										<ul>
											<li><a href="#">Discover Europe</a></li>
											<li><a href="#">Bali</a></li>
											<li><a href="#">Dubai</a></li>
											<li><a href="#">Canada</a></li>
											<li><a href="#">Hong Kong-Macao</a></li>
											<li><a href="#">Singapore</a></li>
											<li><a href="#">Thailand</a></li>
											<li><a href="#">Kenya</a></li>
											<li><a href="#">New Zealand</a></li>
											<li><a href="#">South Africa</a></li>
										</ul>
										<a href="#" class="viewall-div">View All</a>
									</div>
									<div class="col-md-6 section3">
										<h5>Best Sellers</h5>
										<div class="col-md-12">
											<div class="col-md-6">
												<img src="images/340-210_7.jpg"/>
											</div>
											<div class="col-md-6">
												<img src="images/340-210_7.jpg"/>
											</div>
											<div class="col-md-6">
												<img src="images/340-210_7.jpg"/>
											</div>
											<div class="col-md-6">
												<img src="images/340-210_7.jpg"/>
											</div>
										</div>
										<a href="#" class="viewall-div">View All</a>
									</div>
								</div>
								</div>
							</div> 
						</li>
						<li>
							<a href="#" id="holidays-id">HOLIDAYS</a>
							<!-- <span class="glyphicon glyphicon-triangle-top triangle2"></span>
							<div class="holidays-div" id="holidays-id-show">
								<div class="holidays-div-main">
									<div class="col-md-12">
									<div class="col-md-3 section1">
										<h5>Themes</h5>
										<ul>
											<li><a href="#">Europe Holidays</a></li>
											<li><a href="#">TUI Weddings</a></li>
											<li><a href="#">Winter Holidays</a></li>
											<li><a href="#">TUIesday Deals</a></li>
											<li><a href="#">Family</a></li>
											<li><a href="#">Honeymoon</a></li>
											<li><a href="#">Beaches and Islands</a></li>
											<li><a href="#">Luxury Holidays</a></li>
											<li><a href="#">Golf Holidays</a></li>
											<li><a href="#">Couple Holidays</a></li>
											<li><a href="#">Friends</a></li>
										</ul>
										<a href="#" class="viewall-div">View All</a>
									</div>
									<div class="col-md-3 section2">
										<div style="display:table;">
											<h5>Domestic</h5>
											<ul>
												<li><a href="#">TUIristic Andaman with Neil Island</a></li>
												<li><a href="#">Picturesque Kerala (Winter Special)</a></li>
												<li><a href="#">TUIristic Goan Experience</a></li>
											</ul>
											<a href="#" class="viewall-div">View All</a>
										</div>	
										<div style="display:table;">	
											<h5>View All</h5>
											<ul>
												<li><a href="#">International</a></li>
												<li><a href="#">Best of Thailand</a></li>
												<li><a href="#">Honeymoon in Bali</a></li>
											</ul>
											<a href="#" class="viewall-div">View All</a>
										</div>	
									</div>
									<div class="col-md-6 section3">
										<h5>Group Tour</h5>
										<div class="col-md-12">
											<div class="col-md-6">
												<img src="images/340-210_7.jpg"/>
											</div>
											<div class="col-md-6">
												<img src="images/340-210_7.jpg"/>
											</div>
											<div class="col-md-6">
												<img src="images/340-210_7.jpg"/>
											</div>
											<div class="col-md-6">
												<img src="images/340-210_7.jpg"/>
											</div>
										</div>
										<a href="#" class="viewall-div">View All</a>
									</div>
								</div>
								</div>
							</div> -->
						</li>
						<li><a href="#">DEALS</a></li>
						<li><a href="#">LIFETIME EXPERIENCES</a></li>
						<li><a href="#">CRUISES</a></li>
						<li><a href="#">WEEKEND GETAWAYS</a></li>
						<li><a href="#">TUI VILLAS</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		
	</div>

	